<h1>All Tags</h1>
{% capture temptags %}
    {% for tag in site.tags %}
      {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
    {% endfor %}
{% endcapture %}

{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
        <a href="/simplicity/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
{% endfor %}

<h1>Some Catalogue</h1>

{% capture tagname %}{{ "UCB: AIsys Catalogue" }}{% endcapture %}
    <a href="/simplicity/AIsys-index}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>

{% capture tagname %}{{ "SIGOPS: The Hall of Fame Award" }}{% endcapture %}
    <a href="/simplicity/SIGOPS-index}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
