---
layout: compress
---
{% include helper/_1_head.html %}

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    extensions: ["cancel.js"]  <!-- Enable cancel extension -->
  });
</script>
<script type="text/javascript" async 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

{% include helper/_2_topbar_navigation.html %}

{% include helper/_3_masthead.html %}

{{ content }}

{% include helper/_4_footer.html %}

{% include helper/_5_footer_scripts.html %}

</body>
</html>
